* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    background: #f2f4f7;
    
}

.payment-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #e1136e;
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.main-wrap {
    width: 400px;
    height: 400px;
    margin: 50px auto 0;
    border-radius: 10px;
}
.main-wrap .brand {
    text-align: center;
}
.main-wrap .brand img {
    width: 100px;
}
.main-wrap .brand h3 {
    font-size: 20px;
}
.user {
    display: flex;
    gap: 15px;
    background-color: #e1136e;
    padding: 15px 10px;
    border-radius:  10px 10px 0 0;
}

.user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.user .info h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.user .info .balance {
    background-color: #fff;
    padding: 7px 5px;
    border-radius: 30px;
}
.user .info .balance span {
    margin-left: 10px;
}
.transaction-area {
    height: 600px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.transaction-area .search {
    display: flex;
    justify-content: space-between;
}

.transaction-area .search .search-trans {
    position: relative;
    width: 295px;
}

.search .search-trans button  {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    left: 10px;
    color: gray;
}
.search .search-trans input {
    border: 1px solid #dee1e5;
    padding: 10px 10px 10px 40px;
    border-radius: 3px;
    width: 340px;
    /* width: 100%; */
}

.search .search-filter  {
    background-color: transparent;
    border-radius: 3px;
    margin-block: auto;
}

.search .search-filter button {
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.transaction-list {
    overflow: auto;
    height: 500px;
    margin-top: 20px;
 }

 .transaction-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
 }
 .transaction-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
 }
 .transaction-list::-webkit-scrollbar-thumb {
    background: #e1136e;
    border-radius: 5px;
 }
 

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.transaction-item .trans-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.transaction-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.transaction-item .trans-info span {
    display: block;
    font-size: 13px;
}

.transaction-item .trans-info span.trans-type {
    font-weight: 600;
}

.transaction-item .trans-data span {
    display: block;
    font-size: 13px;
}
.transaction-item .trans-data span.trans-amount {
    font-weight: bold;
    color: green;
}

.transaction-item .trans-data span.trans-amount.trans-out {
    color: red;
}

/* >>>>>>>>modal<<<<<<<<<< */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(163, 108, 137, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 370px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.modal button {
    border: none;
    font-size: 20px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.modal button:hover {
    cursor: pointer;
}

/* >>>>>>form<<<<<<<<<< */
#create_transaction_form form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#create_transaction_form .my-3 {
    margin-bottom: 15px;
}

#create_transaction_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#create_transaction_form input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#create_transaction_form input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

#create_transaction_form button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #218838;
}
